name: Convert PPT to Images and Save in Another Repo

on:
  push:
    branches:
      - main
   
jobs:
  get_ppt_name:
    runs-on: ubuntu-latest

    outputs:
      ppt_name: ${{ steps.get_ppt_name.outputs.ppt_names }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Get PPT File Name
        id: get_ppt_name
        run: |
          ppt_file=$(find . -name "*.pptx")
          ppt_name=$(basename "$ppt_file" .pptx)
          echo "Output of this $ppt_name"

          # Export the variable so that it can be used in subsequent steps and jobs
          echo "ppt_names=$ppt_name" >> $GITHUB_OUTPUT
          
            
  convert_ppt_to_pdf:
    runs-on: ubuntu-latest
    needs: get_ppt_name

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        

      - name: Install Poppler and Libreoffice
        run: |
          sudo apt-get update 
          sudo apt-get install -y poppler-utils
          sudo apt update 
          sudo apt install libreoffice

      - name: Convert PPT to PDF and Create Artifact
        run: |

          echo "Name is = ${{needs.get_ppt_name.outputs.ppt_name}}"

          # Your commands to convert PPT to PDF using an appropriate tool (e.g., LibreOffice)
          # Example using LibreOffice:
            
          libreoffice --headless --convert-to pdf input/content/"${{needs.get_ppt_name.outputs.ppt_name}}".pptx
          
          # Move the generated PDF to a location where artifacts can pick it up
          # mv "$PPT_NAME".pdf $GITHUB_WORKSPACE/"$PPT_NAME".pdf
       
      - name: Verify PDF Output
        run: |
          # List files in the current directory to check if the PDF was generated
          ls -la

      # - name: Upload PDF Artifact
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: my-pdf
      #     path: "$PPT_NAME.pdf"
        
      - name: Check out name
        run: echo "to check file is reaching here = $PPT_NAME"

      - name: Convert PDF to Images
        run: |
          # Create a directory to store the images
          mkdir "${{needs.get_ppt_name.outputs.ppt_name}}"

          # Convert PDF to images using pdftoppm
          pdftoppm -png "${{needs.get_ppt_name.outputs.ppt_name}}".pdf "${{needs.get_ppt_name.outputs.ppt_name}}"/slide

      - name: Commit and Push Changes
        run: |
          git config --global user.name "Dev-98"
          git config --global user.email "devparker48@gmail.com"
          git add "${{needs.get_ppt_name.outputs.ppt_name}}"/
          git commit -m "Add converted images from PDF"
          git remote set-url origin https://github.com/dataknobs/kreatewebsites-intermediate

          git push origin main

      - name: Clean Up
        run: |
          rm -rf "${{needs.get_ppt_name.outputs.ppt_name}}"
          rm "${{needs.get_ppt_name.outputs.ppt_name}}".pdf

