name: Convert PPT to Images and Save in Another Repo

on:
  push:
    branches:
      - main
   
jobs:
  get_ppt_name:
    runs-on: ubuntu-latest

    outputs:
      ppt_name: ${{ steps.get_ppt_name.outputs.ppt_names }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Get PPT File Name
        id: get_ppt_name
        run: |
          ppt_file=$(find . -name "*.pptx")
          ppt_name=$(basename "$ppt_file" .pptx)
          echo "Output of this $ppt_name"

          # Export the variable so that it can be used in subsequent steps and jobs
          echo "ppt_names=$ppt_name" >> $GITHUB_OUTPUT
          
            
  convert_ppt_to_pdf:
    runs-on: ubuntu-latest
    needs: get_ppt_name
    

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        

      - name: Install Poppler and Libreoffice
        run: |
          sudo apt-get update 
          sudo apt-get install -y poppler-utils
          sudo apt update 
          sudo apt install libreoffice

      - name: Convert PPT to PDF and Create Artifact
        run: |

          echo "Name is = ${{needs.get_ppt_name.outputs.ppt_name}}"

          # Your commands to convert PPT to PDF using an appropriate tool (e.g., LibreOffice)
          # Example using LibreOffice:
            
          libreoffice --headless --convert-to pdf input/content/"${{needs.get_ppt_name.outputs.ppt_name}}".pptx
          
          # Move the generated PDF to a location where artifacts can pick it up
          # mv "$PPT_NAME".pdf $GITHUB_WORKSPACE/"$PPT_NAME".pdf
       
      - name: Verify PDF Output
        run: |
          # List files in the current directory to check if the PDF was generated
          ls -a

      # - name: Upload PDF Artifact
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: my-pdf
      #     path: "$PPT_NAME.pdf"
    

      - name: Convert PDF to Images
        run: |
          # Create a directory to store the images
          mkdir "${{needs.get_ppt_name.outputs.ppt_name}}"

          # Convert PDF to images using pdftoppm
          pdftoppm -png "${{needs.get_ppt_name.outputs.ppt_name}}".pdf "${{needs.get_ppt_name.outputs.ppt_name}}"/slide
          

      - name: Push output into diffrent Repo
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |

          git clone https://user:$GITHUB_TOKEN@github.com/kreatewebsite/kreate_output # This works

          cd kreate_output
          git config user.name "Dev-98"
          git config user.email "devparker48@gmail.com"
          git config --unset-all http.https://github.com/.extraheader
          
          git add "${{needs.get_ppt_name.outputs.ppt_name}}"/
          git commit -m "Add converted images from PDF"
          
          git push --set-upstream origin main
          
      - name: Clean Up
        run: |
          rm -rf "${{needs.get_ppt_name.outputs.ppt_name}}"
          rm "${{needs.get_ppt_name.outputs.ppt_name}}".pdf

